@media (max-width: 640px) {
  .carousel-img {
    max-width: 30rem;
    height: 22rem;
  }
}

@media (max-width: 500px) {
  .carousel-img {
    max-width: 22rem;
    height: 20rem;
  }
}

@media (max-width: 400px) {
  .carousel-img {
    max-width: 18rem;
    height: 15rem;
  }
}